<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Employer/employerTemplate">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body
	style="background-image: url('../images/constru.png'); background-repeat: no-repeat; background-size: cover;">
	<div layout:fragment="corps">
		<div class="container-fluid">
			<h3>Parametre administrateur</h3>
			<br />
			<h1>Cette page est en cours de construction......</h1>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /><br /> <br /> <br />

		</div>
	</div>
</body>
</html>