<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="myTemplate">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="inner-bg">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 ">Description de notre page</div>
						<div class="col-sm-1 middle-border"></div>

						<div class="col-sm-5"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>