<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="myTemplate">
<head>
<title>Services KFHMedia</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-image: url('../images/service.png'); background-repeat:no-repeat; background-size: cover;">
	<div layout:fragment="content">
		<div class="container">
			<h1 align="center">Services</h1>
			<h4>Cette page est encours de construction.....</h4>
			
		</div>
	</div>
</body>
</html>